.btnv {
  background-color: rgba(34, 38, 1, 1);
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(34, 38, 1, 1);
}
.btnv:hover {
  background-color: rgb(68, 75, 3);
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(34, 38, 1, 1);
}
