.form-control {
  width: 300px;
}
.btnp {
  background-color: rgba(34, 38, 1, 1);
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(34, 38, 1, 1);
}
.btnp:hover {
  background-color: rgba(34, 38, 1, 1);
  color: white;
  border-radius: 10px;
  border: 1px solid rgba(34, 38, 1, 1);
}
.checkoutpage {
  font-family: Nunito-sans;
}
.h2ch {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}
