.main {
  background-color: #f9f6f4;
  padding: 40px;
}
.focus {
  color: red;
}
.mainh1 {
  font-family: Nunito Sans;
  font-size: 40px;
  font-weight: 400;
  line-height: 65.47px;
  letter-spacing: 0.002em;
  text-align: center;
}
.mainh2 {
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 44.56px;
  letter-spacing: 0.001em;
  text-align: left;
}
.mainp {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.6;
  line-height: 32.74px;
  letter-spacing: 0.001em;
  text-align: left;
}
.seemore {
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  color: black;

  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
}
.semfd {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 32.74px;
  text-align: left;
  color: rgba(34, 38, 1, 1);
}
.minifootm {
  margin-left: 530px;
}
.semfd2 {
  font-family: Nunito Sans;
  font-size: 16px;
  opacity: 0.6;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;
}
@media (max-width: 900px) {
  .main {
    padding: 20px;
  }
  .minifootm {
    margin-left: 0px;
  }
  .mainh1 {
    font-size: 20px;
    margin-bottom: -110px;
  }

  .mainh2 {
    font-size: 18px;
    margin: 0px;
    margin-left: -40px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .mainp {
    font-size: 10px;
    line-height: 15px;
    margin-left: -40px;
    margin-bottom: -30px;
  }
}
