.navb {
  font-weight: 700;
  color: rgba(34, 38, 1, 1);
  font-family: Nunito Sans;
  font-size: 24px;
  line-height: 32.74px;
  text-align: left;
}
.navba {
  color: rgba(34, 38, 1, 1);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.28px;
  text-align: left;
}
@media (max-width: 900px) {
  .cart {
    display: none;
  }
}
